version: '3.9'
services:
  mongo:
    image: mongo:6
    container_name: mse-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.adminCommand('ping').ok"]
      interval: 10s
      timeout: 5s
      retries: 10
  rabbitmq:
    image: rabbitmq:3-management
    container_name: mse-rabbitmq
    ports:
      - "5672:5672" # Cổng cho client kết nối
      - "15672:15672" # Cổng cho giao diện quản lý web
volumes:
  mongo_data:

