/* page transitions */
body {
    transition: opacity .22s ease, transform .22s ease;
}

body.page-exit {
    opacity: 0;
    transform: translateY(6px);
}

/* action buttons */
.action-btn {
    min-width: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 0;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    transition: transform .08s ease, box-shadow .12s ease, color .2s, background-color .2s;
    border: 1px solid #dee2e6;
    background: #fff;
    color: #495057;
    box-shadow: 0 2px 6px rgba(2, 6, 23, 0.04);
    margin-left: 6px;
}

.action-btn i {
    font-size: 18px;
}

.btn-view:hover {
    background-color: #0d6efd20;
    color: #0d6efd !important;
}

.btn-edit:hover {
    background-color: #ffc10720;
    color: #ffc107 !important;
}

.btn-delete:hover {
    background-color: #dc354520;
    color: #dc3545 !important;
}

/* modal custom */
.confirm-code {
    font-weight: 700;
}

.form-label {
    font-weight: 600
}

.table thead th {
    text-align: center
}

.table tbody td input {
    width: 100%
}

.small-btn {
    padding: 6px 10px;
    font-size: 13px
}

.page-header {
    margin-bottom: 20px;
}

.page-subtitle {
    font-size: 18px;
    /* lớn hơn bình thường */
    font-weight: 600;
    /* in đậm vừa phải */
    color: #0d6efd;
    /* màu xanh Bootstrap */
    margin-top: 6px;
    letter-spacing: 0.5px;
    /* khoảng cách chữ */
}