.table th,
.table td {
    text-align: center;
    /* Căn giữa theo chiều ngang */
    vertical-align: middle;
    /* Căn giữa theo chiều dọc */
    white-space: nowrap;
    /* Không xuống dòng */
}

.table th:first-child,
.table td:first-child {
    text-align: left;
    /* Nếu muốn cột Mã kế hoạch để trái */
}

.btn-view:hover {
    background-color: #0d6efd20;
    color: #0d6efd !important;
}