<div class="modal fade" id="borrowFormModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen-lg-down borrow-form-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">Phiếu mượn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body p-3">
                <div class="table-responsive borrow-form-table-wrapper">
                    <table class="table table-bordered table-sm mb-0 borrow-form-table">
                        <thead class="table-light">
                            <tr>
                                <th width="3%" style="min-width: 40px;">ST</th>
                                <th width="10%" style="min-width: 120px;">Tên Thiết Bị</th>
                                <th width="6%" style="min-width: 80px;">Danh mục</th>
                                <th width="4%" style="min-width: 50px;">Đơn vị</th>
                                <th width="5%" style="min-width: 60px;">SL Tồn</th>
                                <th width="8%" style="min-width: 100px;">Vị Trí Lưu Trữ</th>
                                <th width="6%" style="min-width: 80px;">Nguồn Gốc</th>
                                <th width="10%" style="min-width: 130px;">Ngày mượn</th>
                                <th width="10%" style="min-width: 130px;">Ngày trả</th>
                                <th width="7%" style="min-width: 80px;">SL mượn</th>
                                <th width="8%" style="min-width: 90px;">Ca mượn</th>
                                <th width="8%" style="min-width: 90px;">Ca trả</th>
                                <th width="15%" style="min-width: 150px;">Nội dung</th>
                            </tr>
                        </thead>
                        <tbody id="borrowFormTable">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="submitBorrowForm()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>