<div class="modal fade" id="borrowFormModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen-lg-down borrow-form-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">Phiếu mượn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
 
            <div class="modal-body p-3">
                <div class="table-responsive borrow-form-table-wrapper">
                    <table class="table table-bordered table-sm mb-0 borrow-form-table">
                        <thead class="table-light">
                            <tr>
                                <th width="3%">ST</th>
                                <th width="14%">Tên Thiết Bị</th>
                                <th width="6%">Danh mục</th>
                                <th width="4%">Đơn vị</th>
                                <th width="5%">Số Lượng</th>
                                <th width="9%">Vị Trí Lưu Trữ</th>
                                <th width="6%">Nguồn Gốc</th>
                                <th width="11%">Ngày mượn</th>
                                <th width="11%">Ngày trả</th>
                                <th width="9%">Số lượng mượn</th>
                                <th width="15%">Dạy tiết</th>
                                <th width="18%">Nội dung</th>
                            </tr>
                        </thead>
                        <tbody id="borrowFormTable">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="submitBorrowForm()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>