<!-- Device Management Sidebar -->
<div class="col-md-3 col-lg-2 sidebar">
    <nav class="nav flex-column mt-3">
        <div class="menu-title">☰ &nbsp; BẢNG CHỌN</div>
        <a class="nav-link" href="/borrow/return">
            <i class="fas fa-chart-line me-2"></i>
            <span class="text">Quản lý trả thiết bị</span>
        </a>
        <a class="nav-link" href="/reports/liquidation">
            <i class="fas fa-chart-line me-2"></i>
            <span class="text">Báo cáo thanh lý</span>
        </a>
        <a class="nav-link" href="/suppliers">
            <i class="fas fa-file-alt me-2"></i>
            <span class="text">Quản lý nhà cung cấp</span>
        </a>
        <a class="nav-link active" href="/devices">
            <i class="fas fa-file-alt me-2"></i>
            <span class="text">Quản lý thiết bị</span>
        </a>
    </nav>
</div>

