<footer class="bg-light text-center text-lg-start mt-5">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Middle School Equipment Management</h5>
                <p>
                    Hệ thống quản lý thiết bị trường THCS
                </p>
            </div>
            
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Liên hệ</h5>
                <p>
                    <i class="fas fa-envelope me-2"></i>
                    info@school.edu.vn
                </p>
                <p>
                    <i class="fas fa-phone me-2"></i>
                    +84 123 456 789
                </p>
            </div>
        </div>
    </div>
    
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Middle School Equipment Management. All rights reserved.
    </div>
</footer>
